[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "*"
constructs = "*"
aws-lambda-powertools = "*"
"aws-cdk.aws-lambda-python-alpha" = "*"
aws-xray-sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
